body{
    margin: 2rem;
}
.box{
    box-sizing: content-box;
    width: 5rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    padding: 5px, 2px, 3px, 10px;
    border: 2px solid #000;
}
.vermelho{
    background-color: red;
    border-bottom-width: 0; /*remover bordar inferior do vermelho*/
    border-style: dashed;
    margin-top: 2px;
}
.azul{
    background-color: blue;
    border-width: 10px 0 5px 3px; 
    border-bottom-style: dashed;
    margin-bottom: 30px;
}
.verde{
    background-color: green;
    margin-left: 50px;
}