@font-face {
    font-family: alexbrush;
    src: url('AlexBrush-Regular.ttf');
}
html{
    color: rgb(49, 173, 245);
    background-color:rgba(229, 249, 253, 0.837);
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 4cm;
}

h1{
    font-family: fantasy;
    font-style: italic;
}
main{
    font-family: cursive;
    font-weight: bolder;
    color: rgb(136, 204, 244);
    font-variant: small-caps;
    text-align: start;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    color: rgb(49, 173, 245);
}
a:active{
    cursor:alias;
    color:red
}